body {
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
  max-width: 1366px;
  font-family: "Asap", sans-serif;
  font-size: 16px;
}

div {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
  border: 1px solid rgba(100, 100, 100, 0);
}

header {
  background: url(../img/bg.jpg) no-repeat center top/cover;
}

.logo {
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.menu {
  width: 50%;
}
.menu ul {
  display: flex;
  justify-content: space-between;
}
.menu li {
  list-style-type: none;
}
.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4a5768;
}

.menu ul a:hover {
  border-bottom: 2px solid #7c8899;
  text-transform: capitalize;
}

.heroarea {
  display: flex;
}

.luis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.luis h1 {
  font-size: 64px;
  color: #4a5768;
  text-transform: uppercase;
}
.luis h2 {
  font-size: 22px;
  color: #9b9b9b;
  text-transform: uppercase;
}

.img {
  width: 50%;
}

.btn {
  margin-top: 40px;
}
.btn a {
  border: 1px solid black;
  color: #4d4d4d;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 10px;
}

.btn a:hover {
  background: white;
  opacity: 0.7;
  border: 1px solid white;
  color: red;
  transition: 1s;
}

.about {
  margin: 100px;
  display: flex;
  justify-content: space-between;
}

.about_content {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.about_content p {
  color: #707c8d;
}

h2 {
  color: #727f90;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.image {
  display: flex;
  align-items: center;
}
.image img {
  width: 400px;
  height: 300px;
}

#services {
  background-color: #f6f6f6;
}
#services h2 {
  text-align: center;
}

.service ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.service ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service ul li p {
  color: #4a5768;
  font-size: 24px;
  font-weight: 600;
}

#skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diagram {
  margin-bottom: 50px;
}

#portfolio {
  background: #f6f6f6;
}
#portfolio ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#portfolio ul li img {
  width: 300px;
  height: 250px;
  margin-left: 20px;
}

.btn_portfolio {
  text-align: center;
  margin: 50px;
}
.btn_portfolio a {
  border: 1px solid black;
  color: #4d4d4d;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 10px;
}

.btn_portfolio a:hover {
  background: white;
  opacity: 0.7;
  border: 1px solid white;
  color: red;
  transition: 1s;
}

.testi {
  border: 1px solid #253142;
  padding: 50px;
  display: flex;
  align-items: center;
}

.frame {
  padding: 50px 150px;
}

.foto {
  margin-right: 20px;
}

.testi_content h3 {
  text-transform: uppercase;
  font-size: 30px;
  color: #455162;
}
.testi_content h4 {
  color: #455162;
  text-transform: uppercase;
  font-size: 8px;
}
.testi_content p {
  color: #8793a4;
  text-transform: uppercase;
}

#funfact {
  background: #f6f6f6;
}

.fact ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fact ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}
.fact ul li h5 {
  font-size: 22px;
  color: #5c6879;
}
.fact ul li p {
  font-size: 20px;
  color: #5c6879;
}

.block {
  height: 150px;
}

#contact {
  background: url(../img/footer.jpg) no-repeat center top/cover;
}
#contact h3 {
  color: #f3f3f3;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  margin: 100px 0 150px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  padding: 10px 20px;
  border: 1px solid black;
  background: #F6F6f6;
}

.btn_footer {
  text-align: center;
  margin: 40px 0 80px 0;
}

.line {
  border-bottom: 3px solid white;
}

.right p {
  color: white;
  text-align: center;
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
